$breakpoints: (
  'xs': 0px,
  'md': 768px,
  'xl': 1372px,
  '2xl': 1852px,
);

$blackColor: #000000;
$lightBlackBlack: #333333;
$whiteColor: #ffffff;
$darkGrayColor: #403737;
$grayColor: #999999;
$lightGrayColor: #d8d8d8;
$blueColor: #34aaf2;
$redColor: #eb5a40;
$greenColor: #16c831;
$goldenColor: #b2a31f;
